[Unit]
Description=bot for cardgame
After=cardgame_api.service
Requires=cardgame_api.service

[Service]
Type=simple
User=pi
Environment=CARD_HOME=/home/pi/cardgame
ExecStart=/home/pi/cardgame/bot/start_bot.sh

[Install]
WantedBy=multi-user.target

