[Unit]
Description=uWSGI instance for cardgame
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/cardgame/flask/app_api.ini
WorkingDirectory=/home/pi/cardgame/flask

User=pi
Group=www-data
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

