{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    function send_delete(filename) {
        var url = filename;
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url, true);
        xhr.onload = function () {
            var result = xhr.responseText;
            if (xhr.readyState == 4 && xhr.status == "200") {
                window.location.reload()
            } else {
            }
        }
        xhr.send(null);
    }
</script>

<h1><a href="../">Cardgame</a></h1>
<h1>{{ title }}</h1>
<h2>User information</h2>
{{ userinfo | safe }}
<h2>Upload information</h2>
{{ upinfo | safe }}
<h2>File upload</h2>
<h3>card</h3>
<p>Only 600 x 800 px (width x height) image is acceptable.</p>
<form action=card method=post enctype=multipart/form-data>
    <p><input type=file name=file>
        <input type=submit value=Upload>
</form>
<h3>other</h3>
TBD
{% endblock %}