{% extends "layout.html" %}
{% block content %}
<h1>Cardgame</h1>
<h2>{{ greetings }}</h2>
<h3><a href="admin/view">Administration</a></h3>
<h3><a href="play/card">Play</a></h3>
<h2>---vvv For Debug Only vvv---</h2>
<h3><a href="chkheaders/">HTTP Header Checker</a></h3>
<h2>Table checkers</h2>
<h3><a href="chktable/user">User table</a></h3>
<h3><a href="chktable/usersession">Usersession table</a></h3>
<h3><a href="chktable/gamesession">Gamesession table</a></h3>
<h3><a href="chktable/card_basicdata">Card_basicdata table</a></h3>
<h3><a href="chktable/card_material">Card_material table</a></h3>
<h2>Game management</h2>
<h3><a href="manage_card/card">Card management</a></h3>
<h3><a href="manage_image/card">Image management</a></h3>
{% endblock %}