{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    function send_delete(cid) {
        var url = cid;
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url, true);
        xhr.onload = function () {
            var result = xhr.responseText;
            if (xhr.readyState == 4 && xhr.status == "200") {
                window.location.reload()
            } else {
            }
        }
        xhr.send(null);
    }
</script>

<h1><a href="../">Cardgame</a></h1>
<h1>{{ title }}</h1>
<h2>Card information</h2>
{{ cardinfo | safe }}
<h2>New card registration</h2>
{{ cardupdateform | safe }}
<h2>Uploaded card list</h2>
{{ uploadedinfo | safe }}
{% endblock %}