{% extends "layout.html" %}
{% block content %}
<!-- ヘッダーエリア -->
<table border="1">
    <tr>
        <td>[[ {{p1_name}} ]]</td>
        <td>vs</td>
        <td>[[ {{p2_name}} ]]</td>
        <td>=== turn_status ===</td>
        <td>
            <table border="1">
                <tr>
                    <td>{{p2_card[0]|safe}}</td>
                    <td>{{p2_card[1]|safe}}</td>
                    <td>{{p2_card[2]|safe}}</td>
                    <td>{{p2_card[3]|safe}}</td>
                    <td>{{p2_card[4]|safe}}</td>
                    <td>{{p2_card[5]|safe}}</td>
                    <td>{{p2_card[6]|safe}}</td>
                    <td>{{p2_card[7]|safe}}</td>
                    <td>{{p2_card[8]|safe}}</td>
                    <td>{{p2_card[9]|safe}}</td>
                </tr>
            </table>
            <div style="float: right;">
                <table border="1">
                    <tr>
                        <td>HP={{p2_hp}}</td>
                        <td>p2_deck</td>
                        <td>p2_mp</td>
                        <td>p2_tension</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<!-- 盤面 -->
<div style="text-align: center;">
    <table border="1">
        <!-- 上段 -->
        <tr>
            <!-- 左から右 -->
            <td>////</td>
            <td><img width="100" src="{{p1_banmen[3]}}"></td>
            <td><img width="100" src="{{p1_banmen[0]}}"></td>
            <td>////</td>
            <td><img width="100" src="{{p2_banmen[0]}}"></td>
            <td><img width="100" src="{{p2_banmen[3]}}"></td>
            <td>////</td>
        </tr>
        <!-- 中段 -->
        <tr>
            <!-- 左から右 -->
            <td>== PLAYER1 ==<br>{{p1_name}}</td>
            <td><img width="100" src="{{p1_banmen[4]}}"></td>
            <td><img width="100" src="{{p1_banmen[1]}}"></td>
            <td><img width="100" src="{{center_cell}}"></td>
            <td><img width="100" src="{{p2_banmen[1]}}"></td>
            <td><img width="100" src="{{p2_banmen[4]}}"></td>
            <td>== PLAYER2 ==<br>{{p2_name}}</td>
        </tr>
        <!-- 下段 -->
        <tr>
            <!-- 左から右 -->
            <td>////</td>
            <td><img width="100" src="{{p1_banmen[5]}}"></td>
            <td><img width="100" src="{{p1_banmen[2]}}"></td>
            <td>////</td>
            <td><img width="100" src="{{p2_banmen[2]}}"></td>
            <td><img width="100" src="{{p2_banmen[5]}}"></td>
            <td>////</td>
        </tr>
    </table>
</div>

<!-- フッターエリア -->
<table border="1">
    <tr>
        <table border="1">
            <tr>
                <td>{{p1_card[0]|safe}}</td>
                <td>{{p1_card[1]|safe}}</td>
                <td>{{p1_card[2]|safe}}</td>
                <td>{{p1_card[3]|safe}}</td>
                <td>{{p1_card[4]|safe}}</td>
                <td>{{p1_card[5]|safe}}</td>
                <td>{{p1_card[6]|safe}}</td>
                <td>{{p1_card[7]|safe}}</td>
                <td>{{p1_card[8]|safe}}</td>
                <td>{{p1_card[9]|safe}}</td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <td>HP={{p1_hp}}</td>
                <td>p1_deck</td>
                <td>p1_mp</td>
                <td>p1_tension</td>
                <td><input type=button value=Surrender onclick="send_delete('hoge')"></td>
            </tr>
        </table>
    </tr>
</table>
{% endblock %}