<!DOCTYPE html>
<html>

<head>
    <title>Card game</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css' ) }}>
    <script src={{ url_for('static', filename='script.js' ) }}></script>
    <script>window.onload = fetchData;</script>
</head>

<body>
    <div class="base">
        <div class="base2">
            <div class="top">
                <div class="top1_settings">Setting icon</div>
                <div class="top2_username">
                    <div class="username">
                        <div class="username_player">
                            <div class="playername1_left" , id="playername1_left">Player1</div>
                            <div class="playername1_right"></div>
                        </div>
                        <div class="username_vs">VS</div>
                        <div class="username_player">
                            <div class="playername2_left"></div>
                            <div class="playername2_right" , id="playername2_right">Player2</div>
                        </div>
                    </div>
                </div>
                <div class="top3_turndisp">
                    <div class="turndisp_button1">
                        <div class="turndisp_button2">
                            <div class="turndisp_button3">ターン終了</div>
                        </div>
                    </div>
                </div>
                <div class="top4_p2status">
                    <div class="p2stat_left">
                        <div class="p2stat_card">
                            <div class="p2stat_card_child" , id="p2card0"></div>
                            <div class="p2stat_card_child" , id="p2card1"></div>
                            <div class="p2stat_card_child" , id="p2card2"></div>
                            <div class="p2stat_card_child" , id="p2card3"></div>
                            <div class="p2stat_card_child" , id="p2card4"></div>
                            <div class="p2stat_card_child" , id="p2card5"></div>
                            <div class="p2stat_card_child" , id="p2card6"></div>
                            <div class="p2stat_card_child" , id="p2card7"></div>
                            <div class="p2stat_card_child" , id="p2card8"></div>
                            <div class="p2stat_card_child" , id="p2card9"></div>
                        </div>
                        <div class="p2stat_param">
                            <div class="p2stat_param_left"></div>
                            <div class="p2stat_param_main">
                                <div class="p2stat_param_main_upper">
                                    <div class="p2stat_hp_label">HP</div>
                                    <div class="p2stat_hp" , id="p2stat_hp">hp</div>
                                    <div class="p2stat_herocard">Hero</div>
                                    <div class="p2stat_tensioncard">Tension</div>
                                </div>
                                <div class="p2stat_param_main_hpbar"></div>
                                <div class="p2stat_param_main_lower">
                                    <div class="p2stat_deckicon">deck</div>
                                    <div class="p2stat_decknum" , id="p2stat_decknum">num</div>
                                    <div class="p2stat_mpicon"></div>
                                    <div class="p2stat_mp_label">MP</div>
                                    <div class="p2stat_mp" , id="p2stat_mp">cur</div>
                                    <div class="p2stat_mp_div">/</div>
                                    <div class="p2stat_maxmp" , id="p2stat_maxmp">max</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p2stat_right">
                        <div class="p2stat_leader"></div>
                        <div class="p2stat_tensionbar">
                            <div class="p2stat_tension"></div>
                            <div class="p2stat_tension"></div>
                            <div class="p2stat_tension"></div>
                            <div class="p2stat_tension"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="middle1_p1leader">Player1 leader
                </div>
                <div class="middle2_p1board">
                    <div class="p1board">
                        <div class="p1board_col">
                            <div class="p1board_row" id="p1board3" ondragover="f_dragover(event)"
                                ondrop="f_drop(event)">3</div>
                            <div class="p1board_row">4</div>
                            <div class="p1board_row">5</div>
                        </div>
                        <div class="p1board_col">
                            <div class="p1board_row">1</div>
                            <div class="p1board_row">2</div>
                            <div class="p1board_row">3</div>
                        </div>
                    </div>
                </div>
                <div class="middle3_boarder">Boarder
                </div>
                <div class="middle4_p2board">Player2 board
                </div>
                <div class="middle5_p2leader">Player2 leader
                </div>
            </div>
            <div class="bottom">
                <div class="bottom1_p1status">
                    <div class="p1stat_param">
                        <div class="p1stat_param_left">
                            <div class="p2stat_tensionbar">
                                <div class="p2stat_tension"></div>
                                <div class="p2stat_tension"></div>
                                <div class="p2stat_tension"></div>
                                <div class="p2stat_tension"></div>
                            </div>
                            <div class="p1stat_leader"></div>
                        </div>
                        <div class="p1stat_param_main">
                            <div class="p2stat_param_main_upper">
                                <div class="p2stat_tensioncard">Tension</div>
                                <div class="p2stat_herocard">Hero</div>
                                <div class="p2stat_hp_label">HP</div>
                                <div class="p2stat_hp" , id="p1stat_hp">hp</div>
                            </div>
                            <div class="p2stat_param_main_hpbar"></div>
                            <div class="p2stat_param_main_lower">
                                <div class="p2stat_mpicon"></div>
                                <div class="p2stat_mp_label">MP</div>
                                <div class="p2stat_mp" , id="p1stat_mp">cur</div>
                                <div class="p2stat_mp_div">/</div>
                                <div class="p2stat_maxmp" , id="p1stat_maxmp">max</div>
                                <div class="p2stat_deckicon">deck</div>
                                <div class="p2stat_decknum" , id="p1stat_decknum">num</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom2_p1cards">
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card0"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card0_cost">3</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card0_attack">3</div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card0_hp">3</div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_name" , id="p1card0_name">Name</div>
                        </span>
                        <div class="p1stat_card_child_hover" id="p1card0d" draggable="true"
                            ondragstart="f_dragstart(event)"></div>
                    </div>
                    <div class="p1stat_card_child" , id="p1card1"></div>
                    <div class="p1stat_card_child" , id="p1card2"></div>
                    <div class="p1stat_card_child" , id="p1card3"></div>
                    <div class="p1stat_card_child" , id="p1card4"></div>
                    <div class="p1stat_card_child" , id="p1card5"></div>
                    <div class="p1stat_card_child" , id="p1card6"></div>
                    <div class="p1stat_card_child" , id="p1card7"></div>
                    <div class="p1stat_card_child" , id="p1card8"></div>
                    <div class="p1stat_card_child" , id="p1card9"></div>
                </div>
                <div class="bottom3_settings">Setting icon</div>
            </div>
        </div>
    </div>
</body>

</html>