<!DOCTYPE html>
<html>

<head>
    <title>Card game</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css' ) }}>
    <script src={{ url_for('static', filename='script.js' ) }}></script>
    <script>window.onload = window.scrollTo(0, 0);</script>
    <script>window.onload = fetchData;</script>
</head>

<body>
    <div class="base">
        <div class="base2">
            <div class="top">
                <div class="top1_settings">
                    <div class="reload_button1">
                        <div class="reload_button2">
                            <button class="reload_button3" onclick="refreshPage()">Reload</button>
                        </div>
                    </div>
                </div>
                <div class="top2_username">
                    <div class="username">
                        <div class="username_player">
                            <div class="playername1_left" , id="playername1_left">Player1</div>
                            <div class="playername1_right"></div>
                        </div>
                        <div class="username_vs">VS</div>
                        <div class="username_player">
                            <div class="playername2_left"></div>
                            <div class="playername2_right" , id="playername2_right">Player2</div>
                        </div>
                    </div>
                </div>
                <div class="top3_turndisp">
                    <div class="turndisp_button1">
                        <div class="turndisp_button2">
                            <button class="turndisp_button3" id="turndisp_button3" onclick="system_turnend()"></button>
                        </div>
                    </div>
                </div>
                <div class="top4_p2status">
                    <div class="p2stat_left">
                        <div class="p2stat_card">
                            <div class="p2stat_card_child" , id="p2card0"></div>
                            <div class="p2stat_card_child" , id="p2card1"></div>
                            <div class="p2stat_card_child" , id="p2card2"></div>
                            <div class="p2stat_card_child" , id="p2card3"></div>
                            <div class="p2stat_card_child" , id="p2card4"></div>
                            <div class="p2stat_card_child" , id="p2card5"></div>
                            <div class="p2stat_card_child" , id="p2card6"></div>
                            <div class="p2stat_card_child" , id="p2card7"></div>
                            <div class="p2stat_card_child" , id="p2card8"></div>
                            <div class="p2stat_card_child" , id="p2card9"></div>
                        </div>
                        <div class="p2stat_param">
                            <div class="p2stat_param_left"></div>
                            <div class="p2stat_param_main">
                                <div class="p2stat_param_main_upper">
                                    <div class="p2stat_hp_label">HP</div>
                                    <div class="p2stat_hp" , id="p2stat_hp">hp</div>
                                    <div class="p2stat_herocard"></div>
                                    <div class="p2stat_tensioncard">
                                        <div class="p2stat_card_child">
                                            <div class="p2stat_card_child" , id="p2card10"></div><!--画像格納用div-->
                                            <span class="text-top-left">
                                                <div class="p1stat_card_cost" , id="p2card10_cost"></div>
                                            </span>
                                            <span class="text-bottom-left">
                                                <div class="p1stat_card_attack" , id="p2card10_attack"></div>
                                            </span>
                                            <span class="text-bottom-right">
                                                <div class="p1stat_card_hp" , id="p2card10_hp"></div>
                                            </span>
                                            <span class="text-center-bottom">
                                                <div class="p1stat_card_name" , id="p2card10_name">Name</div>
                                            </span>
                                            <a class="p1stat_card_child_hover"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="p2stat_param_main_hpbar"></div>
                                <div class="p2stat_param_main_lower">
                                    <div class="p2stat_deckicon">deck</div>
                                    <div class="p2stat_decknum" , id="p2stat_decknum">num</div>
                                    <div class="p2stat_mpicon"></div>
                                    <div class="p2stat_mp_label">MP</div>
                                    <div class="p2stat_mp" , id="p2stat_mp">cur</div>
                                    <div class="p2stat_mp_div">/</div>
                                    <div class="p2stat_maxmp" , id="p2stat_maxmp">max</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p2stat_right">
                        <div class="p2stat_leader"></div>
                        <div class="p2stat_tensionbar">
                            <div class="p2stat_tension" id="p2tension3"></div>
                            <div class="p2stat_tension" id="p2tension2"></div>
                            <div class="p2stat_tension" id="p2tension1"></div>
                            <div class="p2stat_tension" id="p2tension0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="middle1_p1leader">
                    <div class="p1leader_char">
                        <div class="p1leader_char1" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                            onclick="f_onclick(event)">
                            <div class="p1leader_char2">
                                <button class="p1leader_char3" id="leftboard_10">Player1</button>
                            </div>
                        </div>
                    </div>
                    <div class="p1leader_log" id="p1leader_log"></div>
                    <div class="p1leader_log" id="p1leader_time"></div>
                </div>
                <div class="middle2_p1board">
                    <div class="p1board">
                        <div class="p1board_col">
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board3"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board3_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board3_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board3_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board3_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board3_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_3" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board4"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board4_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board4_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board4_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board4_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board4_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_4" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board5"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board5_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board5_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board5_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board5_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board5_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_5" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p1board_col">
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board0"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board0_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board0_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board0_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board0_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board0_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_0" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board1"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board1_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board1_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board1_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board1_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board1_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_1" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p1board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p1board_row2">
                                    <div class="p1board_card_child">
                                        <div class="p1board_card_child" , id="p1board2"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1board2_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p1board2_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1board2_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1board2_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p1board2_text"></div>
                                        </span>
                                        <a class="p1board_card_child_hover" id="leftboard_2" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle3_boarder">
                    <button class="boarder_button">
                        <p id="middle3_boarder"></p>
                    </button>
                </div>
                <div class="middle4_p2board">
                    <div class="p2board">
                        <div class="p2board_col">
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board0"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board0_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board0_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board0_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board0_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board0_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_0" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board1"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board1_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board1_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board1_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board1_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board1_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_1" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board2"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board2_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board2_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board2_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board2_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board2_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_2" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p2board_col">
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board3"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board3_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board3_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board3_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board3_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board3_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_3" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board4"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board4_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board4_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board4_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board4_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board4_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_4" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p2board_row" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                                onclick="f_onclick(event)">
                                <div class="p2board_row2">
                                    <div class="p2board_card_child">
                                        <div class="p2board_card_child" , id="p2board5"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p2board5_cost"></div>
                                        </span>
                                        <span class="text-top-right">
                                            <div class="p1stat_card_name" , id="p2board5_name">Name</div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p2board5_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p2board5_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_text" , id="p2board5_text"></div>
                                        </span>
                                        <a class="p2board_card_child_hover" id="rightboard_5" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle5_p2leader">
                    <div class="p2leader_char">
                        <div class="p2leader_char1" ondragover="f_dragover(event)" ondrop="f_drop(event)"
                            onclick="f_onclick(event)">
                            <div class="p2leader_char2">
                                <button class="p2leader_char3" id="rightboard_10">Player2</button>
                            </div>
                        </div>
                    </div>
                    <div class="p2leader_log" id="p2leader_log"></div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom1_p1status">
                    <div class="p1stat_param">
                        <div class="p1stat_param_left">
                            <div class="p2stat_tensionbar">
                                <div class="p2stat_tension" id="p1tension3"></div>
                                <div class="p2stat_tension" id="p1tension2"></div>
                                <div class="p2stat_tension" id="p1tension1"></div>
                                <div class="p2stat_tension" id="p1tension0"></div>
                            </div>
                            <div class="p1stat_leader"></div>
                        </div>
                        <div class="p1stat_param_main">
                            <div class="p2stat_param_main_upper">
                                <div class="p2stat_tensioncard">
                                    <div class="p1stat_card_child">
                                        <div class="p1stat_card_child" , id="p1card10"></div><!--画像格納用div-->
                                        <span class="text-top-left">
                                            <div class="p1stat_card_cost" , id="p1card10_cost"></div>
                                        </span>
                                        <span class="text-bottom-left">
                                            <div class="p1stat_card_attack" , id="p1card10_attack"></div>
                                        </span>
                                        <span class="text-bottom-right">
                                            <div class="p1stat_card_hp" , id="p1card10_hp"></div>
                                        </span>
                                        <span class="text-center-bottom">
                                            <div class="p1stat_card_name" , id="p1card10_name">Name</div>
                                            <div class="p1stat_card_name" , id="p1card10_text"></div>
                                        </span>
                                        <a class="p1stat_card_child_hover" id="hand_10" draggable="true" href="#"
                                            ondragstart="f_dragstart(event)"></a>
                                    </div>
                                </div>
                                <div class="p2stat_herocard"></div>
                                <div class="p2stat_hp_label">HP</div>
                                <div class="p2stat_hp" , id="p1stat_hp">hp</div>
                            </div>
                            <div class="p2stat_param_main_hpbar"></div>
                            <div class="p2stat_param_main_lower">
                                <div class="p2stat_mpicon"></div>
                                <div class="p2stat_mp_label">MP</div>
                                <div class="p2stat_mp" , id="p1stat_mp">cur</div>
                                <div class="p2stat_mp_div">/</div>
                                <div class="p2stat_maxmp" , id="p1stat_maxmp">max</div>
                                <div class="p2stat_deckicon">deck</div>
                                <div class="p2stat_decknum" , id="p1stat_decknum">num</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom2_p1cards">
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card0"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card0_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card0_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card0_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card0_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card0_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_0" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card1"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card1_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card1_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card1_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card1_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card1_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_1" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card2"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card2_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card2_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card2_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card2_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card2_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_2" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card3"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card3_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card3_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card3_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card3_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card3_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_3" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card4"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card4_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card4_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card4_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card4_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card4_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_4" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card5"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card5_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card5_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card5_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card5_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card5_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_5" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card6"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card6_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card6_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card6_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card6_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card6_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_6" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card7"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card7_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card7_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card7_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card7_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card7_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_7" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card8"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card8_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card8_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card8_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card8_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card8_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_8" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                    <div class="p1stat_card_child">
                        <div class="p1stat_card_child" , id="p1card9"></div><!--画像格納用div-->
                        <span class="text-top-left">
                            <div class="p1stat_card_cost" , id="p1card9_cost"></div>
                        </span>
                        <span class="text-top-right">
                            <div class="p1stat_card_name" , id="p1card9_name">Name</div>
                        </span>
                        <span class="text-bottom-left">
                            <div class="p1stat_card_attack" , id="p1card9_attack"></div>
                        </span>
                        <span class="text-bottom-right">
                            <div class="p1stat_card_hp" , id="p1card9_hp"></div>
                        </span>
                        <span class="text-center-bottom">
                            <div class="p1stat_card_text" , id="p1card9_text"></div>
                        </span>
                        <a class="p1stat_card_child_hover" id="hand_9" draggable="true" href="#"
                            ondragstart="f_dragstart(event)"></a>
                    </div>
                </div>
                <div class="bottom3_settings">
                    <div class="setting_button1">
                        <div class="setting_button2">
                            <button class="setting_button3" onclick="bottomSetting()">S</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>