body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

div {
    border: 1px solid black;
    font-weight: bold;
}

@media (orientation: landscape) {
    .base {
        height: 85vh;
        width: 177vh;
    }
}

@media (orientation: portrait) {
    .base {
        height: 56vw;
        width: 99vw;
    }
}

.base2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top,
.middle,
.bottom {
    display: flex;
    width: 100%;
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.top1_settings,
.top2_username,
.top3_turndisp,
.top4_p2status {
    text-align: center;
    padding: 0px;
}

.top1_settings {
    width: 10.0%;
}

.top2_username {
    width: 30.0%;
}

.username {
    display: flex;
    flex-direction: column;
}

.username_player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.playername1_left {
    width: 100%;
    background-color: rgb(51, 65, 255);
    color: white;
    padding: 0px;
    text-align: center;
}

.playername1_right {
    width: 100%;

}

.username_vs {
    color: rgb(158, 103, 0);
    font-weight: bold;
}

.playername2_left {
    width: 100%;
}

.playername2_right {
    width: 100%;
    background-color: rgb(255, 51, 51);
    color: white;
    padding: 0px;
    text-align: center;
}

.top3_turndisp {
    width: 16.0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.turndisp_button1 {
    width: 160px;
    height: 60px;
    background-color: lightgray;
    /* 角の丸さを指定 */
    border-radius: 30px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.turndisp_button2 {
    width: 150px;
    height: 50px;
    background-color: gray;
    /* 角の丸さを指定 */
    border-radius: 30px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.turndisp_button3 {
    width: 140px;
    height: 40px;
    background-color: rgb(210, 235, 243);
    /* 角の丸さを指定 */
    border-radius: 25px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.top4_p2status {
    width: 42.0%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.p2stat_left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p2stat_card {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p2stat_card_child {
    width: 10%;
    height: 100%;
}

.p2stat_param {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p2stat_param_left {
    width: 20%;
    height: 100%;
}

.p2stat_param_main {
    width: 80%;
    height: 100%;
}

.p2stat_param_main_upper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p2stat_hp_label {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.p2stat_hp {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
}

.p2stat_herocard {
    width: 30%;
    height: 100%;
}

.p2stat_tensioncard {
    width: 30%;
    height: 100%;
}

.p2stat_param_main_hpbar {
    width: 100%;
    height: 5%;
    background-color: greenyellow;
}

.p2stat_param_main_lower {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p2stat_deckicon,
.p2stat_decknum,
.p2stat_mpicon,
.p2stat_mp_label,
.p2stat_mp,
.p2stat_mp_div,
.p2stat_maxmp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.p2stat_deckicon {
    background-color: burlywood;
}

.p2stat_mpicon {
    background-color: lightskyblue;
}

.p2stat_right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p2stat_leader {
    width: 80%;
    height: 100%;
    background-color: brown;
}

.p2stat_tensionbar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p2stat_tension {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom1_p1status,
.bottom2_p1cards,
.bottom3_settings {
    text-align: center;
    padding: 0px;
}

.bottom1_p1status {
    width: 30.0%;
}

.p1stat_param {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1stat_param_left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1stat_param_main {
    width: 70%;
    height: 100%;
}

.p1stat_param_main_upper {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1stat_hp_label {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.p1stat_hp {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
}

.p1stat_herocard {
    width: 30%;
    height: 100%;
}

.p1stat_tensioncard {
    width: 30%;
    height: 100%;
}

.p1stat_param_main_hpbar {
    width: 100%;
    height: 5%;
    background-color: greenyellow;
}

.p1stat_param_main_lower {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1stat_deckicon,
.p1stat_decknum,
.p1stat_mpicon,
.p1stat_mp_label,
.p1stat_mp,
.p1stat_mp_div,
.p1stat_maxmp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.p1stat_right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1stat_leader {
    width: 80%;
    height: 100%;
    background-color: blue;
}

.p1stat_tensionbar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p1stat_tension {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom2_p1cards {
    width: 65.0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* カードの表示関係ここから */
.p1stat_card_child {
    width: 100%;
    height: 100%;
    /* 画像がはみ出ないように制御 */
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: aliceblue;
}

/* カードの拡大表示制御 */
.p1stat_card_child:hover {
    /* マウスオーバー時に前面に表示 */
    z-index: 10;
    /* z-indexを適用するために必要 */
    position: relative;
    /* 拡大の基準点を下端中央に設定 */
    transform-origin: bottom center;
    /* 上方向に移動しながら拡大 */
    transform: translateY(0%) scale(2.0);
}


.p1stat_card_child img {
    max-width: 100%;
    max-height: 100%;
    /* 余白を消すために追加 */
    display: block;
    /* 中央に配置 */
    margin: auto;
}

.p1stat_card_child_hover {
    width: 100%;
    height: 100%;
    position: absolute;
    /* 無視する子要素に対してpositionを指定 */
    top: 0;
    left: 0;
    /* アニメーションの設定 */
    transition: transform 0.0s;
    z-index: 2;
}

/* カードの情報表示制御 */
.text-top-left,
.text-bottom-left,
.text-bottom-right,
.text-center-bottom {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    z-index: 1;
}

.text-top-left {
    top: 0;
    left: 0;
}

.p1stat_card_cost {
    background-color: blue;
    color: White;
    width: 20px;
    /* 角の丸さを指定 */
    border-radius: 30px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bottom-left {
    bottom: 0;
    left: 0;
}

.p1stat_card_attack {
    background-color: Red;
    color: White;
    width: 20px;
    /* 角の丸さを指定 */
    border-radius: 30px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bottom-right {
    bottom: 0;
    right: 0;
}

.p1stat_card_hp {
    background-color: green;
    color: White;
    width: 20px;
    /* 角の丸さを指定 */
    border-radius: 30px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center-bottom {
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: Black;
}

.p1stat_card_name {
    background-color: rgba(255, 255, 255, 0.582);
    color: rgb(0, 0, 0);
    /* 角の丸さを指定 */
    border-radius: 0px;
    /* 上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: 0px;
}

/* カードの表示関係ここまで */

.bottom3_settings {
    width: 5.0%;
}

.middle {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.middle1_p1leader,
.middle2_p1board,
.middle3_boarder,
.middle4_p2board,
.middle5_p2leader {
    text-align: center;
    /* padding: 20px; */
}

.p1board,
.p2board {
    display: flex;
    height: 100%;
}

.p1board_col,
.p2board_col {
    flex: 1;
    /* padding: 10px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p1board_row,
.p2board_row {
    height: 33%;
    width: 100%;
    /* padding: 5px; */
    /* 子要素を水平方向の中央に配置する */
    display: flex;
    justify-content: center;
}

.p1board_row2,
.p2board_row2 {
    height: 100%;
    width: 80%;
}

.middle1_p1leader {
    width: 14.3%;
}

.middle2_p1board {
    width: 28.5%;
}

.middle3_boarder {
    width: 14.3%;
}

.middle4_p2board {
    width: 28.5%;
}

.middle5_p2leader {
    width: 14.3%;
}